	.inner_wrap {width: 1140px; margin: 0 auto;}
	.inner_wrap .tit_box {margin: 20px 0; font-size: 24px;}
	.inner_wrap .tab-content {display: none;}
	.inner_wrap input[type="checkbox"] {margin-right: 6px; width: 14px; height: 14px;}
	.inner_wrap input[tbody="text"] {padding: 0 6px;}
	.inner_wrap label, 
	.inner_wrap input, 
	.inner_wrap select {height: 27px; font-size: 18px;}
	.inner_wrap input:focus, 
	.inner_wrap select:focus, 
	.inner_wrap textarea:focus {border-color: #006241;}
	
	/* admin_login */
	#admin_login {display: grid; place-items: center; min-height: 100dvh;}
	#admin_login input {border: 1px solid #ccc; border-radius: 2px;}
	#admin_login input[type="text"]:focus {border-color: #006241;}
	#admin_login .login_box .input_box label + label, 
	#admin_login .popup_box .input_box > label + label {margin-top: 6px;}
	#admin_login .login_box .input_box input {width: 312px; height: 36px; padding: 0 6px; font-size: 18px;}
	
	#admin_login .login_box {padding: 30px 20px; border: 1px solid #eee; border-radius: 4px; box-shadow: 0 3px 7px #ccc;}
	#admin_login .login_box .top_box {display: flex; align-items: center; justify-content: center; gap: 20px;}
	#admin_login .login_box .top_box .img_box {width: 50px; height: 50px;}
	#admin_login .login_box .top_box p {font-size: 24px; font-family: 'Santana_bold'; text-align: center;}
	#admin_login .login_box form {margin-top: 10px;}
	#admin_login .login_box .input_box, #admin_login .login_box .input_box label {width: 326px;}
	
	#admin_login .login_box .login_btn {margin-top: 10px; width: 100%; height: 36px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fefefe;}
	
	#admin_login .login_box .find_box {margin-top: 14px; text-align: center;}
	#admin_login .login_box .find_box label {margin-right: 16px; font-size: 14px;}
	#admin_login .login_box .find_box a {font-size: 14px; line-height: 18px; color: #555; border-bottom: 1px solid #555;}
	
	#admin_login .popup_box > p {font-size: 20px; font-weight: 700; color: #006241; text-align: left;}
	#admin_login .popup_box .close_btn {position: absolute; top: 6px; right: 6px; display: inline-block; width: 30px; height: 30px;}
	#admin_login .popup_box .input_box {width: 320px;}
	
	#admin_login .popup_box .input_box > label {width: 312px; height: 38px;}
	#admin_login .popup_box .input_box > label input {width: 100%; height: 100%; padding: 0 6px; font-size: 16px;}
	#admin_login .popup_box .email_box {width: 312px; display: flex; align-items: center; justify-content: space-between;}
	#admin_login .popup_box .email_box label {width: 154px; display: flex; align-items: center;}
	#admin_login .popup_box .email_box input {width: 100%; height: 36px; padding: 0 6px; font-size: 16px;}
	#admin_login .popup_box .email_box select {width: 100%; height: 36px; font-size: 16px;}
	#admin_login .popup_box .submit_btn {width: 80px; height: 32px; border-radius: 2px; background-color: #006241; font-size: 18px; color: #fff;}
	
	#admin_login .popup_box .confirm_box {margin-top: 10px;}
	#admin_login .popup_box .confirm_box label {position: relative;}
	#admin_login .popup_box .confirm_box input { width: 200px; height: 36px; padding: 0 6px; font-size: 14px;}
	#admin_login .popup_box .confirm_box span {position: absolute; top: 50%; transform: translateY(-50%); right: 8px; font-size: 14px; color: #006241;}
	#admin_login .popup_box .confirm_box button {padding: 0 10px; height: 36px; background: #006241; border-radius: 2px; font-size: 14px; color: #fefefe;}
	#admin_login .popup_box .btn_box {text-align: center;}
	#admin_login .popup_box .btn_box .setting_btn {position: relative; font-size: 14px; line-height: 18px; color: #555;}
	#admin_login .popup_box .btn_box .setting_btn::after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #555;}
	
	/* header 공통 */
	header {height: 140px; display: flex; align-items: center; justify-content: space-between; padding: 0 20px;}
	header .logo_box a {display: flex; align-items: center; gap: 20px;}
	header .logo_box .img_box {width: 80px; height: 80px;}
	header .logo_box span {display: inline-block; font-size: 38px; font-family: 'Santana_bold'; font-weight: 700;}
	
	header .nav_list {display: flex;}
	header .nav_list .nav_item {position: relative;}
	header .nav_list .nav_item a {display: block; text-align: center; padding: 14px 20px; text-decoration: none;}
	header .nav_list .nav_item a:hover {color: #006241;}
	header .nav_list .nav_item .dropdown_content {display: none; position: absolute; background-color: #f9f9f9; min-width: 180px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; border-radius: 4px;}
	header .nav_list .nav_item .dropdown_content a {color: #555; padding: 12px 16px; text-decoration: none; display: block; text-align: left;}
	header .nav_list .nav_item .dropdown_content a:hover {background-color: #f1f1f1;}
	header .nav_item:hover .dropdown_content {display: block;}
	
	header .store_box {position: relative; display:flex; align-items: center; gap: 10px;}
	header .store_box .setBtn {display:inline-block; width: 20px; height: 20px;}
	header .setting_box {display: none; position: absolute; top: 40px; right: 10px; width: 140px; background: #f9f9f9; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 120;}
	header .setting_box li a {display: inline-block; width: 100%; padding: 10px 0; font-size: 15px; text-align: center; color: #555;}
	header .setting_box li:hover {background: #f1f1f1;}
	
	#passwdEdit {width: 360px;}
	#passwdEdit .popup_title {font-size: 20px;}
	#passwdEdit .input_box {display: flex; flex-direction: column;}
	#passwdEdit .input_box label + label {margin-top:10px;}
	#passwdEdit .input_box label {display: flex; align-items: center; justify-content: space-between;}
	#passwdEdit .input_box input {height: 27px; padding: 0 6px; font-size: 16px;}
	#passwdEdit .pbtn_box button {padding: 0 10px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	#passwdEdit .pbtn_box button.close_btn {background:transparent; border: 1px solid #006241; color: #006241;}
	
	/* admin_login */
	#admin_login {display: grid; place-items: center; min-height: 100dvh;}
	#admin_login input {border: 1px solid #ccc; border-radius: 2px;}
	#admin_login input[type="text"]:focus {border-color: #006241;}
	#admin_login .login_box .input_box label + label, 
	#admin_login .popup_box .input_box > label + label {margin-top: 6px;}
	#admin_login .login_box .input_box input {width: 312px; height: 36px; padding: 0 6px; font-size: 18px;}
	
	#admin_login .login_box {padding: 30px 20px; border: 1px solid #eee; border-radius: 4px; box-shadow: 0 3px 7px #ccc;}
	#admin_login .login_box .top_box {display: flex; align-items: center; justify-content: center; gap: 20px;}
	#admin_login .login_box .top_box .img_box {width: 50px; height: 50px;}
	#admin_login .login_box .top_box p {font-size: 24px; font-family: 'Santana_bold'; text-align: center;}
	#admin_login .login_box form {margin-top: 10px;}
	#admin_login .login_box .input_box, #admin_login .login_box .input_box label {width: 326px;}
	
	#admin_login .login_box .login_btn {margin-top: 10px; width: 100%; height: 36px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fefefe;}
	
	#admin_login .login_box .find_box {margin-top: 14px; text-align: center;}
	#admin_login .login_box .find_box label {margin-right: 16px; font-size: 14px;}
	#admin_login .login_box .find_box a {font-size: 14px; line-height: 18px; color: #555; border-bottom: 1px solid #555;}
	
	#admin_login .popup_box > p {font-size: 20px; font-weight: 700; color: #006241; text-align: left;}
	#admin_login .popup_box .close_btn {position: absolute; top: 6px; right: 6px; display: inline-block; width: 30px; height: 30px;}
	#admin_login .popup_box .input_box {width: 320px;}
	
	#admin_login .popup_box .input_box > label {width: 312px; height: 38px;}
	#admin_login .popup_box .input_box > label input {width: 100%; height: 100%; padding: 0 6px; font-size: 16px;}
	#admin_login .popup_box .email_box {width: 312px; display: flex; align-items: center; justify-content: space-between;}
	#admin_login .popup_box .email_box label {width: 154px; display: flex; align-items: center;}
	#admin_login .popup_box .email_box input {width: 100%; height: 36px; padding: 0 6px; font-size: 16px;}
	#admin_login .popup_box .email_box select {width: 100%; height: 36px; font-size: 16px;}
	#admin_login .popup_box .submit_btn {width: 80px; height: 32px; border-radius: 2px; background-color: #006241; font-size: 18px; color: #fff;}
	
	#admin_login .popup_box .confirm_box {margin-top: 10px;}
	#admin_login .popup_box .confirm_box label {position: relative;}
	#admin_login .popup_box .confirm_box input { width: 200px; height: 36px; padding: 0 6px; font-size: 14px;}
	#admin_login .popup_box .confirm_box span {position: absolute; top: 50%; transform: translateY(-50%); right: 8px; font-size: 14px; color: #006241;}
	#admin_login .popup_box .confirm_box button {padding: 0 10px; height: 36px; background: #006241; border-radius: 2px; font-size: 14px; color: #fefefe;}
	#admin_login .popup_box .btn_box {text-align: center;}
	#admin_login .popup_box .btn_box .setting_btn {position: relative; font-size: 14px; line-height: 18px; color: #555;}
	#admin_login .popup_box .btn_box .setting_btn::after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #555;}
	
	/* admin_adminmanage, admin_usermanage, admin_storemanage */
	.accountmanage .select_box form {padding: 20px; border: 1px solid #ccc; border-radius: 4px;}
	.accountmanage .select_box form label + label {margin: 5px 8px;}
	.accountmanage .select_box form input[type="checkbox"] {margin-left: 6px;}
	.accountmanage .select_box form select {padding: 0 10px;}
	.accountmanage .select_box form button {margin-left: 8px; width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	
	.accountmanage .select_box .search_box {display: flex; flex-wrap: wrap; align-items: center;}
	.accountmanage .select_box .search_box input[type="text"] {padding: 0 6px;}
	.accountmanage .select_box .search_box .email_box {margin-left: 8px;}
	
	.accountmanage .select_box .list_box .btn_box {margin: 20px 0; text-align: right;}
	.accountmanage .select_box .list_box .btn_box button {padding: 0 10px; height: 27px; border-radius: 2px; font-size: 16px; background-color: #006241; color: #fff;}
	.accountmanage .select_box .list_box thead {background-color: #006241; color: #fff;}
	
	.accountmanage .select_box .search_list .editBtn, 
	.accountmanage .select_box .search_list .delBtn {width: 52px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; line-height: 27px; color: #fff;}
	.accountmanage .select_box .search_list .delBtn  {border: 1px solid #006241; background: transparent;     box-sizing: border-box; color: #006241;}
	
	/* admin_storelist, admin_storemanage */
	.managelist .search_box {border: 1px solid #ccc; border-radius: 4px; padding: 20px;}
	.managelist .search_box label, 
	.managelist .search_box input, 
	.managelist .search_box select {margin-left: 6px; height: 27px; font-size: 18px;}
	.managelist .search_box button {margin-left: 8px; width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	.managelist .search_box form {display: flex; flex-wrap: wrap; align-content: center;}
	.managelist .search_box form > div {margin-bottom: 10px;}
	
	.managelist .list_box {margin-top: 20px;}
	.managelist .list_box .btn_box {padding: 0 20px 20px 0; text-align: right;}
	.managelist .list_box button {width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	.managelist .list_box .search_list {padding: 20px;}
	.managelist .list_box .search_list > li + li {margin-top: 12px;}
	.managelist .list_box .search_list .search_item {display: flex; flex-wrap: wrap; align-items: center; border-radius: 2px; border: 1px solid #ccc; background-color: #fefefe;}
	.managelist .list_box .search_list .search_item {font-size: 18px; text-align: center;}
	.managelist .list_box .search_list .search_item .search_toolbar {width: 100%; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc; padding: 10px 0;}
	.managelist .list_box .search_list .search_item .search_cont {width: 100%; display: flex; align-items: center; padding: 10px 0;}
	.managelist .list_box .search_list .search_item .search_cont button {width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	.managelist .list_box .search_list .search_item .search_cont button.block {background-color: transparent; border: 1px solid #006241; color: #006241;}
	.managelist .list_box .search_list .search_item .search_cont button.release {background-color: #999; border: 1px solid #999; color: #fff;}
	
	#admin_storelist input[type="text"] {padding: 0 6px;}
	
	/* admin_addstore, admin_editstore */
	.store_info .insert_box {margin-top: 20px;}
	.store_info .insert_box form {padding: 0 20px 20px;}
	.store_info .insert_box form > p {margin-bottom: 20px; padding: 20px 0; border-bottom: 1px solid #ccc; font-size: 22px;}
	.store_info .insert_box form .info_wrap {display: flex; align-items: center; gap: 20px;}
	.store_info .insert_box form .info_box {display: flex; flex-direction: column;}
	.store_info .insert_box form .info_box div, 
	.store_info .insert_box form .info_box > label:not(:first-child) {margin-top: 10px;}
	.store_info .insert_box form .info_box input {padding: 0 6px; text-align: center;}
	.store_info .insert_box form .info_box select {width: 200px;}
	.store_info .insert_box form .info_box span {display: inline-block; width: 100px;}
	.store_info .insert_box form .info_box > p {margin-top: 6px; padding-left: 110px; font-size: 14px; color: #555;}
	.store_info .insert_box form .info_wrap button, .store_info .insert_box form .info_box button {padding: 3px 10px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	
	.store_info .insert_box form .btn_box {margin-top: 20px; text-align: center;}
	.store_info .insert_box form .add_btn {width: 100px; padding: 4px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	.store_info .insert_box form .del_btn {margin-left: 10px; width: 100px; padding: 4px 0; border-radius: 2px; border: 1px solid #006241; font-size: 16px; color: #006241;}
	
	.store_info .insert_box form .info_box input[name="bucksLocation"] {width: 400px;}
	.store_info .insert_box form .info_box input[name="bucksEmail1"] {width: 140px; text-align: center;}
	.store_info .insert_box form .info_box .tel {text-align: center;}
	
	.store_info .insert_box form .email_box input {width: 180px;}
	
	.store_info .insert_box form .operating_hours {display: flex; flex-direction: column;}
	.store_info .insert_box form .operating_hours span {display: inline-block; width: 130px;}
	.store_info .insert_box form .operating_hours label + label {margin-top: 10px;}
	.store_info .insert_box form .operating_hours input {}
	
	#admin_addstore .insert_box form .info_box input[name="bucksId"]:focus , 
	#admin_addstore .insert_box form .info_box input[name="bucksPasswd"]:focus {border-color: #ccc;}
	
	#admin_editstore .insert_box form .info_box input[name="bucksId"], 
	#admin_editstore .insert_box form .info_box input[name="bucksLocation"] {border: none; background: #ccc;}
	#admin_editstore .insert_box form .info_box input[name="bucksId"]:focus, 
	#admin_editstore .insert_box form .info_box input[name="bucksLocation"]:focus {border-color: #ccc;}
	
	#admin_addstore .insert_box form .info_box .loca_box {height: 90px;} 
	#admin_addstore .insert_box form .info_box .loca_details {margin-top: 0; margin-left: 6px; width: 400px; flex-wrap: wrap;} 
	#admin_addstore .insert_box form .info_box .loca_details input[type="button"] {margin-left: 10px;}
	#admin_addstore .insert_box form .info_box .loca_details input:nth-child(3), 
	#admin_addstore .insert_box form .info_box .loca_details input:nth-child(4) {margin-top: 6px; width: 370px;}
	
	/* admin_storeorder */
	#admin_storeorder .search_box {padding: 20px; border-radius: 4px; border: 1px solid #ccc;}
	#admin_storeorder .search_box label {margin: 5px; display: inline-flex; align-items: center;} 
	
	#admin_storeorder .search_box input {margin-left: 6px; padding: 0 6px;}
	#admin_storeorder .search_box select {margin: 0 6px; padding: 0 16px;}
	#admin_storeorder .search_box button {width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	
	#admin_storeorder .search_list {margin-top: 20px;}
	#admin_storeorder .search_list .orderBtn {width: 80px; height: 27px; border-radius: 2px; font-size: 16px; color: #fff;}
	#admin_storeorder .search_list .orderBtn01 {background: #006241;}
	#admin_storeorder .search_list .orderBtn02 {background: #999; cursor: default;}
	
	/* admin_dailysales */
	#admin_dailysales .select_box .tab_box {display: flex; align-items: center; gap: 20px; padding-bottom: 20px; border-bottom: 1px solid #ccc;}
	#admin_dailysales .select_box .tab_box .tab_btn {display: inline-block; width: 110px; padding: 6px 0; border-radius: 4px; background: #ddd; font-size: 18px; text-align: center; color: #fefefe;}
	#admin_dailysales .select_box .tab_box .tab_btn.s_active {background-color: #006241;}
	
	#admin_dailysales .search_box {margin-top: 20px;}
	#admin_dailysales .search_box select {width: 80px; padding: 2px 0; font-size: 18px;}
	#admin_dailysales .search_box label + label {margin-left: 10px;}
	#admin_dailysales .search_box label {font-size: 18px;}
	#admin_dailysales .select_list {display: flex; align-items: center; flex-wrap: wrap; gap: 10px 0; padding: 20px 30px; border: 1px solid #ccc; border-radius: 4px;}
	#admin_dailysales .select_list label {width: calc(100%/6); display: flex; align-items: center;}
	#admin_dailysales .search_box {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 10px 0; padding: 20px 30px; border-radius: 4px; border: 1px solid #ccc; font-size: 18px;}
	#admin_dailysales input[type="text"] {margin-left: 10px; padding: 2px 6px; font-size: 18px;}
	#admin_dailysales input[type="checkbox"] {margin-right: 6px; width: 14px; height: 14px;}
	#admin_dailysales button {margin-left: 10px; width: 60px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	
	#admin_dailysales .list_box .totabl_sales {margin: 20px 0; font-size: 22px; font-weight: 700; text-align: right;}
	#admin_dailysales .list_box .totabl_sales span{display: inline-block; width: 160px;}
	
	#admin_dailysales .list_box .search_list thead {background-color: #006241; color: #fefefe;}
	#admin_dailysales .list_box .search_list tbody ul li + li {border-top: 1px dotted #ccc;}
	#admin_dailysales .list_box .search_list tbody .total_col td {font-size: 18px;}
	
	/* admin_monthlysales, admin_storeordersales */
	.tab_management .select_box form {padding: 20px; border: 1px solid #ccc; border-radius: 4px;}
	.tab_management .select_box .count_box {display: flex; align-items: center; gap: 4px;}
	.tab_management .select_box .count_box span {font-size: 18px; margin-right: 10px;}
	.tab_management .select_box .count_box .img_box {width: 20px; height: 20px; filter: brightness(0) saturate(100%) invert(33%) sepia(2%) saturate(13%) hue-rotate(115deg) brightness(99%) contrast(96%);}
	.tab_management .select_box .count_box .img_box:hover {cursor: pointer;}
	.tab_management .select_box .count_box input[type="text"] {width: 80px; padding: 0 6px; border: none; font-size: 18px;}
	.tab_management .select_box .count_box .dateInput {text-align: center;}
	.tab_management .select_box .count_box select {margin-left: 10px; padding: 0 10px;}
	.tab_management .select_box .count_box button {margin-left: 10px; width: 60px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	
	.tab_management .list_box {margin-top: 20px; display: flex; flex-wrap: wrap; justify-content: space-between;}
	
	.tab_management .list_box .search_list, 
	.tab_management .list_box .tab-content {width: 540px;}
	.tab_management .list_box .search_list {position: relative;}
	.tab_management .list_box .search_list::after {content: ''; position: absolute; top: 50%; right: -35px; transform: translateY(-50%) rotate(45deg); display: block; width: 14px; height: 14px; border-top: 2px solid #555; border-right: 2px solid #555;}
	.tab_management .list_box .search_list .tab_btn:hover, 
	.tab_management .list_box .search_list .tab_btn.s_active {color: #006241;}
	.tab_management .list_box .sales_cont {width: 540px;}
	.tab_management .list_box .sales_cont .cont_toolbar, 
	.tab_management .list_box .sales_cont .cont_details {width: 100%; display: flex; align-items: center; justify-content: space-between; text-align: center;}
	.tab_management .list_box .sales_cont .cont_toolbar {padding: 4px 0; background-color: #006241; color: #fefefe; text-align: center;}
	
	#admin_monthlysales .list_box .sales_cont .cont_toolbar li, 
	#admin_monthlysales .list_box .sales_cont .cont_details li {width: calc(100%/3); padding: 2px 0; font-size: 16px; text-align: center;}
	#admin_monthlysales .list_box .sales_cont .cont_details li {border-bottom: 1px solid #ccc;}
	
	#admin_storeordersales .list_box .search_list, 
	#admin_storeordersales .list_box .tab-content {width: 380px;}
	#admin_storeordersales .list_box .sales_cont {width: 700px;}
	#admin_storeordersales .list_box .sales_cont > li + li {border-bottom: 1px solid #ccc;}
	
	
	/* admin_cpnmange */
	#admin_cpnmange .btn_box {margin-bottom: 20px; text-align: right;}
	#admin_cpnmange .btn_box button {width: 90px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	#admin_cpnmange .btn_box button:first-child {background-color: #fefefe; border: 1px solid #006241; color: #006241;}
	
	#listcpn {width: 410px;}
	#listcpn .input_box label:not(:nth-child(3)) {justify-content: space-between;}
	#listcpn.cpn_popup .input_box input {width: 320px;}
	.cpn_popup .popup_title {font-size: 20px;}
	.cpn_popup .close_btn {position: absolute; top: 6px; right: 6px; display: inline-block; width: 30px; height: 30px;}
	.cpn_popup .input_box {display: flex; flex-direction: column;}
	.cpn_popup .input_box label + label {margin-top: 10px;}
	.cpn_popup .input_box label:not(:nth-child(3)) {display: flex; align-items: center;}
	.cpn_popup .input_box label:nth-child(3) {height: 100px; display: flex; flex-direction: column;}
	.cpn_popup .input_box input {margin-left: 6px; padding: 0 6px;}
	.cpn_popup .input_box textarea {margin-top: 4px; padding: 3px 6px; font-size: 18px;}
	.cpn_popup .input_box select {margin-left: 6px; width: 340px;}
	.cpn_popup .pbtn_box button {width: 80px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; line-height: 27px; color: #fff;}
	.cpn_popup .pbtn_box button.delBtn {background-color: #fefefe; border: 1px solid #006241; color: #006241;}
	
	
	#sendcpn .input_box label {display: flex; align-items: center; justify-content: space-between;}
	#sendcpn .input_box select {margin-left: 6px; width: 230px;}
	
	/* admin_adddrink */
	#admin_drinklist button {padding: 0 10px; height: 27px; border-radius: 2px; font-size: 16px;}
	#admin_drinklist button.search_btn, 
	#admin_drinklist button.add_btn, 
	#admin_drinklist button.enable_btn {background-color: #006241; color: #fff;}
	#admin_drinklist button.disable_order {background-color: #999; color: #fff;}
	#admin_drinklist .search_box {border: 1px solid #ccc; padding: 20px;}
	#admin_drinklist .search_box form > div {margin-bottom: 6px;}
	#admin_drinklist .search_box label + label {margin-left: 16px;}
	#admin_drinklist .search_box label, #admin_drinklist .search_box select {font-size: 18px;}
	#admin_drinklist .search_box select {padding: 0 10px;}
	#admin_drinklist .search_box input {padding: 0 6px; font-size: 18px;}
	#admin_drinklist .list_box .btn_box {margin: 20px 0; text-align: right;}
	#admin_drinklist .search_list .menu_btn:hover {color: #006241;}
	
	/* admin_desertlist, admin_mdlist */
	.menuList button {padding: 0 10px; height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	.menuList button.search_btn, 
	.menuList button.add_btn, 
	.menuList button.enable_btn {background-color: #006241; color: #fff;}
	.menuList button.disable_order {background-color: #999; color: #fff;}
	.menuList .search_box {border: 1px solid #ccc; padding: 20px;}
	.menuList .search_box form > div {margin-bottom: 6px;}
	.menuList .search_box label + label {margin-left: 16px;}
	.menuList .search_box label, .menuList .search_box select {font-size: 18px;}
	.menuList .search_box select {padding: 0 10px;}
	.menuList .search_box input {padding: 0 6px; font-size: 18px;}
	.menuList .list_box .btn_box {margin: 20px 0; text-align: right;}
	
	
	/*  */
	.addmenu_cont .insert_box {margin-top: 20px;}
	.addmenu_cont .insert_box form {padding: 20px;}
	.addmenu_cont .insert_box form > p {margin-bottom: 20px; padding: 20px 0; border-bottom: 1px solid #ccc; font-size: 22px;}
	.addmenu_cont .insert_box form .info_box {display: flex; flex-direction: column;}
	.addmenu_cont .insert_box form .info_box > div, 
	.addmenu_cont .insert_box form .info_box > label:not(:first-child) {margin-top: 10px;}
	.addmenu_cont .insert_box form .info_box input {padding: 0 6px;}
	.addmenu_cont .insert_box form .info_box input[name="menuName"] {width: 467px;}
	.addmenu_cont .insert_box form .info_box input[type="checkbox"] {margin-right: 6px;}
	.addmenu_cont .insert_box form .info_box select {width: 200px;}
	.addmenu_cont .insert_box form .info_box span {display: inline-block; width: 100px; font-size: 18px;}
	.addmenu_cont .insert_box form .info_box > p {margin-top: 6px; font-size: 14px; color: #555;}
	.addmenu_cont .insert_box form .info_box .menu_desc {margin-top: 10px; height: 100px; display: flex;}
	.addmenu_cont .insert_box form .info_box .menu_desc textarea {margin-left: 7px; padding: 3px 6px; font-size: 18px;}
	.addmenu_cont .insert_box form .info_box button {margin-top: 10px; width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	
	.addmenu_cont .insert_box .info_box .upload_box {display: flex;}
	.addmenu_cont .insert_box .info_box .upload_box .img_box {margin: 0 0 10px 7px; width: 100px; height: 100px; border-radius: 2px; border: 1px solid #eee; box-shadow: 0px 2px 5px #ccc;}
	.addmenu_cont .insert_box .info_box .upload_box .img_box img {width: 100%; height: 100%;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box {margin: 0 0 0 7px; display: flex; align-items: center;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box input[type="file"] {position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box .file_name {display: inline-block; padding: 0 10px; vertical-align: middle; width: 190px; border: 1px solid #dddddd; border-radius: 4px; font-size: 16px; color: #555;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box label {margin-left: 6px; display: inline-block; width: 80px; line-height: 27px; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff; text-align: center; cursor: pointer;}
	
	.addmenu_cont .insert_box form .btn_box {margin-top: 20px; text-align: center;}
	.addmenu_cont .insert_box form .add_btn {width: 80px; padding: 3px 0; border-radius: 2px; background-color: #006241; font-size: 16px; color: #fff;}
	.addmenu_cont .insert_box form .del_btn {margin-left: 10px; width: 80px; padding: 3px 0; border-radius: 2px; border: 1px solid #006241; font-size: 16px; color: #006241;}
		
@media all and (max-width:1339px) {
	.inner_wrap {width: 79.1667vw; margin: 0 auto;}
	.inner_wrap .tit_box {margin: 1.3889vw 0; font-size: 1.6667vw;}
	.inner_wrap .tab-content {display: none;}
	.inner_wrap input[type="checkbox"] {margin-right: 0.4167vw; width: 0.9722vw; height: 0.9722vw;}
	.inner_wrap input[tbody="text"] {padding: 0 0.4167vw;}
	.inner_wrap label, 
	.inner_wrap input, 
	.inner_wrap select {height: 1.8750vw; font-size: 1.2500vw;}
	.inner_wrap input:focus, 
	.inner_wrap select:focus, 
	.inner_wrap textarea:focus {border-color: #006241;}
	
	/* admin_login */
	#admin_login {display: grid; place-items: center; min-height: 100dvh;}
	#admin_login input {border: 0.0694vw solid #ccc; border-radius: 0.1389vw;}
	#admin_login input[type="text"]:focus {border-color: #006241;}
	#admin_login .login_box .input_box label + label, 
	#admin_login .popup_box .input_box > label + label {margin-top: 0.4167vw;}
	#admin_login .login_box .input_box input {width: 21.6667vw; height: 2.5000vw; padding: 0 0.4167vw; font-size: 1.2500vw;}
	
	#admin_login .login_box {padding: 2.0833vw 1.3889vw; border: 0.0694vw solid #eee; border-radius: 0.2778vw; box-shadow: 0 0.2083vw 0.4861vw #ccc;}
	#admin_login .login_box .top_box {display: flex; align-items: center; justify-content: center; gap: 1.3889vw;}
	#admin_login .login_box .top_box .img_box {width: 3.4722vw; height: 3.4722vw;}
	#admin_login .login_box .top_box p {font-size: 1.6667vw; font-family: 'Santana_bold'; text-align: center;}
	#admin_login .login_box form {margin-top: 0.6944vw;}
	#admin_login .login_box .input_box, #admin_login .login_box .input_box label {width: 22.6389vw;}
	
	#admin_login .login_box .login_btn {margin-top: 0.6944vw; width: 100%; height: 2.5000vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fefefe;}
	
	#admin_login .login_box .find_box {margin-top: 0.9722vw; text-align: center;}
	#admin_login .login_box .find_box label {margin-right: 1.1111vw; font-size: 0.9722vw;}
	#admin_login .login_box .find_box a {font-size: 0.9722vw; line-height: 1.2500vw; color: #555; border-bottom: 0.0694vw solid #555;}
	
	#admin_login .popup_box > p {font-size: 1.3889vw; font-weight: 700; color: #006241; text-align: left;}
	#admin_login .popup_box .close_btn {position: absolute; top: 0.4167vw; right: 0.4167vw; display: inline-block; width: 2.0833vw; height: 2.0833vw;}
	#admin_login .popup_box .input_box {width: 22.2222vw;}
	
	#admin_login .popup_box .input_box > label {width: 21.6667vw; height: 2.6389vw;}
	#admin_login .popup_box .input_box > label input {width: 100%; height: 100%; padding: 0 0.4167vw; font-size: 1.1111vw;}
	#admin_login .popup_box .email_box {width: 21.6667vw; display: flex; align-items: center; justify-content: space-between;}
	#admin_login .popup_box .email_box label {width: 10.6944vw; display: flex; align-items: center;}
	#admin_login .popup_box .email_box input {width: 100%; height: 2.5000vw; padding: 0 0.4167vw; font-size: 1.1111vw;}
	#admin_login .popup_box .email_box select {width: 100%; height: 2.5000vw; font-size: 1.1111vw;}
	#admin_login .popup_box .submit_btn {width: 5.5556vw; height: 2.2222vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.2500vw; color: #fff;}
	
	#admin_login .popup_box .confirm_box {margin-top: 0.6944vw;}
	#admin_login .popup_box .confirm_box label {position: relative;}
	#admin_login .popup_box .confirm_box input { width: 13.8889vw; height: 2.5000vw; padding: 0 0.4167vw; font-size: 0.9722vw;}
	#admin_login .popup_box .confirm_box span {position: absolute; top: 50%; transform: translateY(-50%); right: 0.5556vw; font-size: 0.9722vw; color: #006241;}
	#admin_login .popup_box .confirm_box button {padding: 0 0.6944vw; height: 2.5000vw; background: #006241; border-radius: 0.1389vw; font-size: 0.9722vw; color: #fefefe;}
	#admin_login .popup_box .btn_box {text-align: center;}
	#admin_login .popup_box .btn_box .setting_btn {position: relative; font-size: 0.9722vw; line-height: 1.2500vw; color: #555;}
	#admin_login .popup_box .btn_box .setting_btn::after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0.0694vw; background-color: #555;}
	
	/* header 공통 */
	header {height: 9.7222vw; display: flex; align-items: center; justify-content: space-between; padding: 0 1.3889vw;}
	header .logo_box a {display: flex; align-items: center; gap: 1.3889vw;}
	header .logo_box .img_box {width: 5.5556vw; height: 5.5556vw;}
	header .logo_box span {display: inline-block; font-size: 2.6389vw; font-family: 'Santana_bold'; font-weight: 700;}
	
	header .nav_list {display: flex;}
	header .nav_list .nav_item {position: relative;}
	header .nav_list .nav_item a {display: block; text-align: center; padding: 0.9722vw 1.3889vw; text-decoration: none;}
	header .nav_list .nav_item a:hover {color: #006241;}
	header .nav_list .nav_item .dropdown_content {display: none; position: absolute; background-color: #f9f9f9; min-width: 12.5000vw; box-shadow: 0.0000vw 0.5556vw 1.1111vw 0.0000vw rgba(0,0,0,0.2); z-index: 1; border-radius: 0.2778vw;}
	header .nav_list .nav_item .dropdown_content a {color: #555; padding: 0.8333vw 1.1111vw; text-decoration: none; display: block; text-align: left;}
	header .nav_list .nav_item .dropdown_content a:hover {background-color: #f1f1f1;}
	header .nav_item:hover .dropdown_content {display: block;}
	
	header .store_box {position: relative; display:flex; align-items: center; gap: 0.6944vw;}
	header .store_box .setBtn {display:inline-block; width: 1.3889vw; height: 1.3889vw;}
	header .setting_box {display: none; position: absolute; top: 2.7778vw; right: 0.6944vw; width: 9.7222vw; background: #f9f9f9; box-shadow: 0.0000vw 0.5556vw 1.1111vw 0.0000vw rgba(0,0,0,0.2); z-index: 120;}
	header .setting_box li a {display: inline-block; width: 100%; padding: 0.6944vw 0; font-size: 1.0417vw; text-align: center; color: #555;}
	header .setting_box li:hover {background: #f1f1f1;}
	
	#passwdEdit {width: 25.0000vw;}
	#passwdEdit .popup_title {font-size: 1.3889vw;}
	#passwdEdit .input_box {display: flex; flex-direction: column;}
	#passwdEdit .input_box label + label {margin-top:0.6944vw;}
	#passwdEdit .input_box label {display: flex; align-items: center; justify-content: space-between;}
	#passwdEdit .input_box input {height: 1.8750vw; padding: 0 0.4167vw; font-size: 1.1111vw;}
	#passwdEdit .pbtn_box button {padding: 0 0.6944vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	#passwdEdit .pbtn_box button.close_btn {background:transparent; border: 0.0694vw solid #006241; color: #006241;}
	
	/* admin_login */
	#admin_login {display: grid; place-items: center; min-height: 100dvh;}
	#admin_login input {border: 0.0694vw solid #ccc; border-radius: 0.1389vw;}
	#admin_login input[type="text"]:focus {border-color: #006241;}
	#admin_login .login_box .input_box label + label, 
	#admin_login .popup_box .input_box > label + label {margin-top: 0.4167vw;}
	#admin_login .login_box .input_box input {width: 21.6667vw; height: 2.5000vw; padding: 0 0.4167vw; font-size: 1.2500vw;}
	
	#admin_login .login_box {padding: 2.0833vw 1.3889vw; border: 0.0694vw solid #eee; border-radius: 0.2778vw; box-shadow: 0 0.2083vw 0.4861vw #ccc;}
	#admin_login .login_box .top_box {display: flex; align-items: center; justify-content: center; gap: 1.3889vw;}
	#admin_login .login_box .top_box .img_box {width: 3.4722vw; height: 3.4722vw;}
	#admin_login .login_box .top_box p {font-size: 1.6667vw; font-family: 'Santana_bold'; text-align: center;}
	#admin_login .login_box form {margin-top: 0.6944vw;}
	#admin_login .login_box .input_box, #admin_login .login_box .input_box label {width: 22.6389vw;}
	
	#admin_login .login_box .login_btn {margin-top: 0.6944vw; width: 100%; height: 2.5000vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fefefe;}
	
	#admin_login .login_box .find_box {margin-top: 0.9722vw; text-align: center;}
	#admin_login .login_box .find_box label {margin-right: 1.1111vw; font-size: 0.9722vw;}
	#admin_login .login_box .find_box a {font-size: 0.9722vw; line-height: 1.2500vw; color: #555; border-bottom: 0.0694vw solid #555;}
	
	#admin_login .popup_box > p {font-size: 1.3889vw; font-weight: 700; color: #006241; text-align: left;}
	#admin_login .popup_box .close_btn {position: absolute; top: 0.4167vw; right: 0.4167vw; display: inline-block; width: 2.0833vw; height: 2.0833vw;}
	#admin_login .popup_box .input_box {width: 22.2222vw;}
	
	#admin_login .popup_box .input_box > label {width: 21.6667vw; height: 2.6389vw;}
	#admin_login .popup_box .input_box > label input {width: 100%; height: 100%; padding: 0 0.4167vw; font-size: 1.1111vw;}
	#admin_login .popup_box .email_box {width: 21.6667vw; display: flex; align-items: center; justify-content: space-between;}
	#admin_login .popup_box .email_box label {width: 10.6944vw; display: flex; align-items: center;}
	#admin_login .popup_box .email_box input {width: 100%; height: 2.5000vw; padding: 0 0.4167vw; font-size: 1.1111vw;}
	#admin_login .popup_box .email_box select {width: 100%; height: 2.5000vw; font-size: 1.1111vw;}
	#admin_login .popup_box .submit_btn {width: 5.5556vw; height: 2.2222vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.2500vw; color: #fff;}
	
	#admin_login .popup_box .confirm_box {margin-top: 0.6944vw;}
	#admin_login .popup_box .confirm_box label {position: relative;}
	#admin_login .popup_box .confirm_box input { width: 13.8889vw; height: 2.5000vw; padding: 0 0.4167vw; font-size: 0.9722vw;}
	#admin_login .popup_box .confirm_box span {position: absolute; top: 50%; transform: translateY(-50%); right: 0.5556vw; font-size: 0.9722vw; color: #006241;}
	#admin_login .popup_box .confirm_box button {padding: 0 0.6944vw; height: 2.5000vw; background: #006241; border-radius: 0.1389vw; font-size: 0.9722vw; color: #fefefe;}
	#admin_login .popup_box .btn_box {text-align: center;}
	#admin_login .popup_box .btn_box .setting_btn {position: relative; font-size: 0.9722vw; line-height: 1.2500vw; color: #555;}
	#admin_login .popup_box .btn_box .setting_btn::after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0.0694vw; background-color: #555;}
	
	/* admin_adminmanage, admin_usermanage, admin_storemanage */
	.accountmanage .select_box form {padding: 1.3889vw; border: 0.0694vw solid #ccc; border-radius: 0.2778vw;}
	.accountmanage .select_box form label + label {margin: 0.3472vw 0.5556vw;}
	.accountmanage .select_box form input[type="checkbox"] {margin-left: 0.4167vw;}
	.accountmanage .select_box form select {padding: 0 0.6944vw;}
	.accountmanage .select_box form button {margin-left: 0.5556vw; width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	
	.accountmanage .select_box .search_box {display: flex; flex-wrap: wrap; align-items: center;}
	.accountmanage .select_box .search_box input[type="text"] {padding: 0 0.4167vw;}
	.accountmanage .select_box .search_box .email_box {margin-left: 0.5556vw;}
	
	.accountmanage .select_box .list_box .btn_box {margin: 1.3889vw 0; text-align: right;}
	.accountmanage .select_box .list_box .btn_box button {padding: 0 0.6944vw; height: 1.8750vw; border-radius: 0.1389vw; font-size: 1.1111vw; background-color: #006241; color: #fff;}
	.accountmanage .select_box .list_box thead {background-color: #006241; color: #fff;}
	
	.accountmanage .select_box .search_list .editBtn, 
	.accountmanage .select_box .search_list .delBtn {width: 3.6111vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; line-height: 1.8750vw; color: #fff;}
	.accountmanage .select_box .search_list .delBtn  {border: 0.0694vw solid #006241; background: transparent;     box-sizing: border-box; color: #006241;}
	
	/* admin_storelist, admin_storemanage */
	.managelist .search_box {border: 0.0694vw solid #ccc; border-radius: 0.2778vw; padding: 1.3889vw;}
	.managelist .search_box label, 
	.managelist .search_box input, 
	.managelist .search_box select {margin-left: 0.4167vw; height: 1.8750vw; font-size: 1.2500vw;}
	.managelist .search_box button {margin-left: 0.5556vw; width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	.managelist .search_box form {display: flex; flex-wrap: wrap; align-content: center;}
	.managelist .search_box form > div {margin-bottom: 0.6944vw;}
	
	.managelist .list_box {margin-top: 1.3889vw;}
	.managelist .list_box .btn_box {padding: 0 1.3889vw 1.3889vw 0; text-align: right;}
	.managelist .list_box button {width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	.managelist .list_box .search_list {padding: 1.3889vw;}
	.managelist .list_box .search_list > li + li {margin-top: 0.8333vw;}
	.managelist .list_box .search_list .search_item {display: flex; flex-wrap: wrap; align-items: center; border-radius: 0.1389vw; border: 0.0694vw solid #ccc; background-color: #fefefe;}
	.managelist .list_box .search_list .search_item {font-size: 1.2500vw; text-align: center;}
	.managelist .list_box .search_list .search_item .search_toolbar {width: 100%; display: flex; align-items: center; justify-content: space-between; border-bottom: 0.0694vw solid #ccc; padding: 0.6944vw 0;}
	.managelist .list_box .search_list .search_item .search_cont {width: 100%; display: flex; align-items: center; padding: 0.6944vw 0;}
	.managelist .list_box .search_list .search_item .search_cont button {width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	.managelist .list_box .search_list .search_item .search_cont button.block {background-color: transparent; border: 0.0694vw solid #006241; color: #006241;}
	.managelist .list_box .search_list .search_item .search_cont button.release {background-color: #999; border: 0.0694vw solid #999; color: #fff;}
	
	#admin_storelist input[type="text"] {padding: 0 0.4167vw;}
	
	/* admin_addstore, admin_editstore */
	.store_info .insert_box {margin-top: 1.3889vw;}
	.store_info .insert_box form {padding: 0 1.3889vw 1.3889vw;}
	.store_info .insert_box form > p {margin-bottom: 1.3889vw; padding: 1.3889vw 0; border-bottom: 0.0694vw solid #ccc; font-size: 1.5278vw;}
	.store_info .insert_box form .info_wrap {display: flex; align-items: center; gap: 1.3889vw;}
	.store_info .insert_box form .info_box {display: flex; flex-direction: column;}
	.store_info .insert_box form .info_box div, 
	.store_info .insert_box form .info_box > label:not(:first-child) {margin-top: 0.6944vw;}
	.store_info .insert_box form .info_box input {padding: 0 0.4167vw; text-align: center;}
	.store_info .insert_box form .info_box select {width: 13.8889vw;}
	.store_info .insert_box form .info_box span {display: inline-block; width: 6.9444vw;}
	.store_info .insert_box form .info_box > p {margin-top: 0.4167vw; padding-left: 7.6389vw; font-size: 0.9722vw; color: #555;}
	.store_info .insert_box form .info_wrap button, .store_info .insert_box form .info_box button {padding: 0.2083vw 0.6944vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	
	.store_info .insert_box form .btn_box {margin-top: 1.3889vw; text-align: center;}
	.store_info .insert_box form .add_btn {width: 6.9444vw; padding: 0.2778vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	.store_info .insert_box form .del_btn {margin-left: 0.6944vw; width: 6.9444vw; padding: 0.2778vw 0; border-radius: 0.1389vw; border: 0.0694vw solid #006241; font-size: 1.1111vw; color: #006241;}
	
	.store_info .insert_box form .info_box input[name="bucksLocation"] {width: 27.7778vw;}
	.store_info .insert_box form .info_box input[name="bucksEmail1"] {width: 9.7222vw; text-align: center;}
	.store_info .insert_box form .info_box .tel {text-align: center;}
	
	.store_info .insert_box form .email_box input {width: 12.5000vw;}
	
	.store_info .insert_box form .operating_hours {display: flex; flex-direction: column;}
	.store_info .insert_box form .operating_hours span {display: inline-block; width: 9.0278vw;}
	.store_info .insert_box form .operating_hours label + label {margin-top: 0.6944vw;}
	.store_info .insert_box form .operating_hours input {}
	
	#admin_addstore .insert_box form .info_box input[name="bucksId"]:focus , 
	#admin_addstore .insert_box form .info_box input[name="bucksPasswd"]:focus {border-color: #ccc;}
	
	#admin_editstore .insert_box form .info_box input[name="bucksId"], 
	#admin_editstore .insert_box form .info_box input[name="bucksLocation"] {border: none; background: #ccc;}
	#admin_editstore .insert_box form .info_box input[name="bucksId"]:focus, 
	#admin_editstore .insert_box form .info_box input[name="bucksLocation"]:focus {border-color: #ccc;}
	
	#admin_addstore .insert_box form .info_box .loca_box {height: 6.2500vw;} 
	#admin_addstore .insert_box form .info_box .loca_details {margin-top: 0; margin-left: 0.4167vw; width: 27.7778vw; flex-wrap: wrap;} 
	#admin_addstore .insert_box form .info_box .loca_details input[type="button"] {margin-left: 0.6944vw;}
	#admin_addstore .insert_box form .info_box .loca_details input:nth-child(3), 
	#admin_addstore .insert_box form .info_box .loca_details input:nth-child(4) {margin-top: 0.4167vw; width: 25.6944vw;}
	
	/* admin_storeorder */
	#admin_storeorder .search_box {padding: 1.3889vw; border-radius: 0.2778vw; border: 0.0694vw solid #ccc;}
	#admin_storeorder .search_box label {margin: 0.3472vw; display: inline-flex; align-items: center;} 
	
	#admin_storeorder .search_box input {margin-left: 0.4167vw; padding: 0 0.4167vw;}
	#admin_storeorder .search_box select {margin: 0 0.4167vw; padding: 0 1.1111vw;}
	#admin_storeorder .search_box button {width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	
	#admin_storeorder .search_list {margin-top: 1.3889vw;}
	#admin_storeorder .search_list .orderBtn {width: 5.5556vw; height: 1.8750vw; border-radius: 0.1389vw; font-size: 1.1111vw; color: #fff;}
	#admin_storeorder .search_list .orderBtn01 {background: #006241;}
	#admin_storeorder .search_list .orderBtn02 {background: #999; cursor: default;}
	
	/* admin_dailysales */
	#admin_dailysales .select_box .tab_box {display: flex; align-items: center; gap: 1.3889vw; padding-bottom: 1.3889vw; border-bottom: 0.0694vw solid #ccc;}
	#admin_dailysales .select_box .tab_box .tab_btn {display: inline-block; width: 7.6389vw; padding: 0.4167vw 0; border-radius: 0.2778vw; background: #ddd; font-size: 1.2500vw; text-align: center; color: #fefefe;}
	#admin_dailysales .select_box .tab_box .tab_btn.s_active {background-color: #006241;}
	
	#admin_dailysales .search_box {margin-top: 1.3889vw;}
	#admin_dailysales .search_box select {width: 5.5556vw; padding: 0.1389vw 0; font-size: 1.2500vw;}
	#admin_dailysales .search_box label + label {margin-left: 0.6944vw;}
	#admin_dailysales .search_box label {font-size: 1.2500vw;}
	#admin_dailysales .select_list {display: flex; align-items: center; flex-wrap: wrap; gap: 0.6944vw 0; padding: 1.3889vw 2.0833vw; border: 0.0694vw solid #ccc; border-radius: 0.2778vw;}
	#admin_dailysales .select_list label {width: calc(100%/6); display: flex; align-items: center;}
	#admin_dailysales .search_box {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 0.6944vw 0; padding: 1.3889vw 2.0833vw; border-radius: 0.2778vw; border: 0.0694vw solid #ccc; font-size: 1.2500vw;}
	#admin_dailysales input[type="text"] {margin-left: 0.6944vw; padding: 0.1389vw 0.4167vw; font-size: 1.2500vw;}
	#admin_dailysales input[type="checkbox"] {margin-right: 0.4167vw; width: 0.9722vw; height: 0.9722vw;}
	#admin_dailysales button {margin-left: 0.6944vw; width: 4.1667vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	
	#admin_dailysales .list_box .totabl_sales {margin: 1.3889vw 0; font-size: 1.5278vw; font-weight: 700; text-align: right;}
	#admin_dailysales .list_box .totabl_sales span{display: inline-block; width: 11.1111vw;}
	
	#admin_dailysales .list_box .search_list thead {background-color: #006241; color: #fefefe;}
	#admin_dailysales .list_box .search_list tbody ul li + li {border-top: 0.0694vw dotted #ccc;}
	#admin_dailysales .list_box .search_list tbody .total_col td {font-size: 1.2500vw;}
	
	/* admin_monthlysales, admin_storeordersales */
	.tab_management .select_box form {padding: 1.3889vw; border: 0.0694vw solid #ccc; border-radius: 0.2778vw;}
	.tab_management .select_box .count_box {display: flex; align-items: center; gap: 0.2778vw;}
	.tab_management .select_box .count_box span {font-size: 1.2500vw; margin-right: 0.6944vw;}
	.tab_management .select_box .count_box .img_box {width: 1.3889vw; height: 1.3889vw; filter: brightness(0) saturate(100%) invert(33%) sepia(2%) saturate(13%) hue-rotate(115deg) brightness(99%) contrast(96%);}
	.tab_management .select_box .count_box .img_box:hover {cursor: pointer;}
	.tab_management .select_box .count_box input[type="text"] {width: 5.5556vw; padding: 0 0.4167vw; border: none; font-size: 1.2500vw;}
	.tab_management .select_box .count_box .dateInput {text-align: center;}
	.tab_management .select_box .count_box select {margin-left: 0.6944vw; padding: 0 0.6944vw;}
	.tab_management .select_box .count_box button {margin-left: 0.6944vw; width: 4.1667vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	
	.tab_management .list_box {margin-top: 1.3889vw; display: flex; flex-wrap: wrap; justify-content: space-between;}
	
	.tab_management .list_box .search_list, 
	.tab_management .list_box .tab-content {width: 37.5000vw;}
	.tab_management .list_box .search_list {position: relative;}
	.tab_management .list_box .search_list::after {content: ''; position: absolute; top: 50%; right: -2.4306vw; transform: translateY(-50%) rotate(45deg); display: block; width: 0.9722vw; height: 0.9722vw; border-top: 0.1389vw solid #555; border-right: 0.1389vw solid #555;}
	.tab_management .list_box .search_list .tab_btn:hover, 
	.tab_management .list_box .search_list .tab_btn.s_active {color: #006241;}
	.tab_management .list_box .sales_cont {width: 37.5000vw;}
	.tab_management .list_box .sales_cont .cont_toolbar, 
	.tab_management .list_box .sales_cont .cont_details {width: 100%; display: flex; align-items: center; justify-content: space-between; text-align: center;}
	.tab_management .list_box .sales_cont .cont_toolbar {padding: 0.2778vw 0; background-color: #006241; color: #fefefe; text-align: center;}
	
	#admin_monthlysales .list_box .sales_cont .cont_toolbar li, 
	#admin_monthlysales .list_box .sales_cont .cont_details li {width: calc(100%/3); padding: 0.1389vw 0; font-size: 1.1111vw; text-align: center;}
	#admin_monthlysales .list_box .sales_cont .cont_details li {border-bottom: 0.0694vw solid #ccc;}
	
	#admin_storeordersales .list_box .search_list, 
	#admin_storeordersales .list_box .tab-content {width: 26.3889vw;}
	#admin_storeordersales .list_box .sales_cont {width: 48.6111vw;}
	#admin_storeordersales .list_box .sales_cont > li + li {border-bottom: 0.0694vw solid #ccc;}
	
	
	/* admin_cpnmange */
	#admin_cpnmange .btn_box {margin-bottom: 1.3889vw; text-align: right;}
	#admin_cpnmange .btn_box button {width: 6.2500vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	#admin_cpnmange .btn_box button:first-child {background-color: #fefefe; border: 0.0694vw solid #006241; color: #006241;}
	
	#listcpn {width: 28.4722vw;}
	#listcpn .input_box label:not(:nth-child(3)) {justify-content: space-between;}
	#listcpn.cpn_popup .input_box input {width: 22.2222vw;}
	.cpn_popup .popup_title {font-size: 1.3889vw;}
	.cpn_popup .close_btn {position: absolute; top: 0.4167vw; right: 0.4167vw; display: inline-block; width: 2.0833vw; height: 2.0833vw;}
	.cpn_popup .input_box {display: flex; flex-direction: column;}
	.cpn_popup .input_box label + label {margin-top: 0.6944vw;}
	.cpn_popup .input_box label:not(:nth-child(3)) {display: flex; align-items: center;}
	.cpn_popup .input_box label:nth-child(3) {height: 6.9444vw; display: flex; flex-direction: column;}
	.cpn_popup .input_box input {margin-left: 0.4167vw; padding: 0 0.4167vw;}
	.cpn_popup .input_box textarea {margin-top: 0.2778vw; padding: 0.2083vw 0.4167vw; font-size: 1.2500vw;}
	.cpn_popup .input_box select {margin-left: 0.4167vw; width: 23.6111vw;}
	.cpn_popup .pbtn_box button {width: 5.5556vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; line-height: 1.8750vw; color: #fff;}
	.cpn_popup .pbtn_box button.delBtn {background-color: #fefefe; border: 0.0694vw solid #006241; color: #006241;}
	
	
	#sendcpn .input_box label {display: flex; align-items: center; justify-content: space-between;}
	#sendcpn .input_box select {margin-left: 0.4167vw; width: 15.9722vw;}
	
	/* admin_adddrink */
	#admin_drinklist button {padding: 0 0.6944vw; height: 1.8750vw; border-radius: 0.1389vw; font-size: 1.1111vw;}
	#admin_drinklist button.search_btn, 
	#admin_drinklist button.add_btn, 
	#admin_drinklist button.enable_btn {background-color: #006241; color: #fff;}
	#admin_drinklist button.disable_order {background-color: #999; color: #fff;}
	#admin_drinklist .search_box {border: 0.0694vw solid #ccc; padding: 1.3889vw;}
	#admin_drinklist .search_box form > div {margin-bottom: 0.4167vw;}
	#admin_drinklist .search_box label + label {margin-left: 1.1111vw;}
	#admin_drinklist .search_box label, #admin_drinklist .search_box select {font-size: 1.2500vw;}
	#admin_drinklist .search_box select {padding: 0 0.6944vw;}
	#admin_drinklist .search_box input {padding: 0 0.4167vw; font-size: 1.2500vw;}
	#admin_drinklist .list_box .btn_box {margin: 1.3889vw 0; text-align: right;}
	#admin_drinklist .search_list .menu_btn:hover {color: #006241;}
	
	/* admin_desertlist, admin_mdlist */
	.menuList button {padding: 0 0.6944vw; height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	.menuList button.search_btn, 
	.menuList button.add_btn, 
	.menuList button.enable_btn {background-color: #006241; color: #fff;}
	.menuList button.disable_order {background-color: #999; color: #fff;}
	.menuList .search_box {border: 0.0694vw solid #ccc; padding: 1.3889vw;}
	.menuList .search_box form > div {margin-bottom: 0.4167vw;}
	.menuList .search_box label + label {margin-left: 1.1111vw;}
	.menuList .search_box label, .menuList .search_box select {font-size: 1.2500vw;}
	.menuList .search_box select {padding: 0 0.6944vw;}
	.menuList .search_box input {padding: 0 0.4167vw; font-size: 1.2500vw;}
	.menuList .list_box .btn_box {margin: 1.3889vw 0; text-align: right;}
	
	
	/*  */
	.addmenu_cont .insert_box {margin-top: 1.3889vw;}
	.addmenu_cont .insert_box form {padding: 1.3889vw;}
	.addmenu_cont .insert_box form > p {margin-bottom: 1.3889vw; padding: 1.3889vw 0; border-bottom: 0.0694vw solid #ccc; font-size: 1.5278vw;}
	.addmenu_cont .insert_box form .info_box {display: flex; flex-direction: column;}
	.addmenu_cont .insert_box form .info_box > div, 
	.addmenu_cont .insert_box form .info_box > label:not(:first-child) {margin-top: 0.6944vw;}
	.addmenu_cont .insert_box form .info_box input {padding: 0 0.4167vw;}
	.addmenu_cont .insert_box form .info_box input[name="menuName"] {width: 32.4306vw;}
	.addmenu_cont .insert_box form .info_box input[type="checkbox"] {margin-right: 0.4167vw;}
	.addmenu_cont .insert_box form .info_box select {width: 13.8889vw;}
	.addmenu_cont .insert_box form .info_box span {display: inline-block; width: 6.9444vw; font-size: 1.2500vw;}
	.addmenu_cont .insert_box form .info_box > p {margin-top: 0.4167vw; font-size: 0.9722vw; color: #555;}
	.addmenu_cont .insert_box form .info_box .menu_desc {margin-top: 0.6944vw; height: 6.9444vw; display: flex;}
	.addmenu_cont .insert_box form .info_box .menu_desc textarea {margin-left: 0.4861vw; padding: 0.2083vw 0.4167vw; font-size: 1.2500vw;}
	.addmenu_cont .insert_box form .info_box button {margin-top: 0.6944vw; width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	
	.addmenu_cont .insert_box .info_box .upload_box {display: flex;}
	.addmenu_cont .insert_box .info_box .upload_box .img_box {margin: 0 0 0.6944vw 0.4861vw; width: 6.9444vw; height: 6.9444vw; border-radius: 0.1389vw; border: 0.0694vw solid #eee; box-shadow: 0.0000vw 0.1389vw 0.3472vw #ccc;}
	.addmenu_cont .insert_box .info_box .upload_box .img_box img {width: 100%; height: 100%;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box {margin: 0 0 0 0.4861vw; display: flex; align-items: center;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box input[type="file"] {position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box .file_name {display: inline-block; padding: 0 0.6944vw; vertical-align: middle; width: 13.1944vw; border: 0.0694vw solid #dddddd; border-radius: 0.2778vw; font-size: 1.1111vw; color: #555;}
	.addmenu_cont .insert_box .info_box .upload_box .file_box label {margin-left: 0.4167vw; display: inline-block; width: 5.5556vw; line-height: 1.8750vw; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff; text-align: center; cursor: pointer;}
	
	.addmenu_cont .insert_box form .btn_box {margin-top: 1.3889vw; text-align: center;}
	.addmenu_cont .insert_box form .add_btn {width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; background-color: #006241; font-size: 1.1111vw; color: #fff;}
	.addmenu_cont .insert_box form .del_btn {margin-left: 0.6944vw; width: 5.5556vw; padding: 0.2083vw 0; border-radius: 0.1389vw; border: 0.0694vw solid #006241; font-size: 1.1111vw; color: #006241;}
}