<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.login-mapper">

	<select id="findStoreById" parameterType="String" resultType="BucksDTO">
		select * from javabucks_bucks where bucksId = #{bucksId}
	</select>
	
	<select id="findStoreByEmail" parameterType="java.util.Map" resultType="BucksDTO">
		select bucksEmail1, bucksEmail2, bucksPasswd from javabucks_bucks
		where bucksEmail1 = #{bucksEmail1} 
			and bucksEmail2 = #{bucksEmail2}
	</select>
	
	<select id="findStoreIdbyEmail" parameterType="java.util.Map" resultType="String">
		select bucksId from javabucks_bucks
		where bucksEmail1 = #{bucksEmail1} 
			and bucksEmail2 = #{bucksEmail2}
	</select>
	
	<select id="findStoreByIDEmail" parameterType="java.util.Map" resultType="BucksDTO">
		select bucksEmail1, bucksEmail2, bucksPasswd from javabucks_bucks
		where bucksEmail1 = #{bucksEmail1} 
			and bucksEmail2 = #{bucksEmail2}
			and bucksId = #{bucksId}
	</select>
	
	<select id="findStorePWbyEmail" parameterType="java.util.Map" resultType="String">
		select bucksPasswd from javabucks_bucks 
		where bucksEmail1 = #{bucksEmail1} 
			and bucksEmail2 = #{bucksEmail2}
			and bucksId = #{bucksId}
	</select>
	
	<update id="changePasswd" parameterType="java.util.Map">
		update javabucks_bucks
		set bucksPasswd = #{bucksPasswd}
		where bucksId = #{bucksId}
	</update>
</mapper>