/* 공통 CSS */
@font-face {
    font-family: "Santana_bold";
    src: url("../fonts/Santana-Black.ttf") format("truetype");
    font-weight: bold;
}
* {margin: 0; padding: 0;}
a {text-decoration: none; color: initial;}
em {font-style: normal;}
img {width: 100%; height: 100%;}
ul li {list-style: none;}
table {border-collapse: collapse;}
button {border: none; background-color: transparent; cursor: pointer;}
select {border: 1px solid #ccc; border-radius: 2px; -webkit-appearance: none; -moz-appearance: none; appearance: none; text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center; outline: none;}
label {display: inline-block;}
input {border: 1px solid #ccc; border-radius: 2px; outline: none;}
textarea {border: 1px solid #ccc; border-radius: 2px; padding: 3px; outline: none; resize: none;}

body {margin: 0 auto;}
.content {width: 100%;}

.font_bold {font-weight: 700;}

.font_green {color: #006241;}
.font_gold {color: #b79855;}
.font_gray {color: #555;}
.font_white {color: #fefefe;}

.bg_green {background-color: #006241;}
.bg_gold {background-color: #b79855;}
.bg_beige {background-color: #f6f5ef;}
.bg_white {background-color: #fefefe;}

.s_active {display: block!important;}

/* 팝업처리 */
.popup_box {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 30px 20px; border-radius: 8px; background-color: #fefefe; overflow: hidden; box-shadow: 0 3px 7px #ccc; z-index: 150;}
.popup_box .popup_title {margin-bottom: 10px; font-size: 16px; text-align: center;}
/* .popup_box .close_btn {position: absolute; top: 6px; right: 6px; display: inline-block; width: 30px; height: 30px;} */
.popup_box .pbtn_box {margin-top: 20px; text-align: center;}
.popup_box .pbtn_box button {position: relative; font-size: 14px; line-height: 18px; color: #555;}
/* .popup_box .pbtn_box button::after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #555;} */
.dimm {display:none; position: fixed; top: 0; left:0; width: 100%; height: 100%; background: #000; opacity: 0.3; z-index:100;}

/* 페이징 처리 */
.pagination {margin: 30px 0; font-size: 20px; text-align: center;}
.pagination a {display: inline-block; margin: 0 2px;}
/* e: 공통 클래스 사용 정리 */

/* 공통 테이블 처리  */
.s_table {width: 100%; border-collapse: collapse;}
.s_table thead tr th {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 4px 0; font-size: 16px; text-align: center; font-weight: 400;}
.s_table tr {border-bottom: 1px solid #ccc;}
.s_table tr td {font-size: 16px; line-height: 32px; text-align: center;}
.s_table tbody tr a {display: inline-block; width: 100%; height: 100%;}

/* 공통 페이징 처리 */
.pagination {margin: 20px 0; display: flex; justify-content: center; align-items: center;}
.pagination .page_num {margin: 0 4px; display: inline-block; font-size: 18px; line-height: 18px;}
.pagination .page_active, .pagination .page_num:hover {color: #006241;}
.pagination .page_btn {width: 8px; height: 8px;}
.pagination .page_btn img {width: 100%; height: 100%;}
.pagination .next_btn {transform: rotate(-180deg);}
