<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mybatis.mapper.menu-mapper">
  	<!-- 메뉴등록 -->
  	<insert id="insertMenu" parameterType="MenuDTO">
	    insert into javabucks_menu (menuCode, menuName, menuImages, menuPrice, menuDesc, menuEnable, menuoptCode, menuregDate, menuStatus)
	    values (#{menuCode}, #{menuName}, #{menuImages}, #{menuPrice}, #{menuDesc}, default, #{menuoptCode}, SYSDATE, default)
	</insert>
	
	<!-- 조건에 해당하는 음료 리스트 검색 -->
	<select id="searchDrink" parameterType="java.util.Map" resultType="MenuDTO">
	    SELECT * 
	    FROM (
	        SELECT ROW_NUMBER() OVER (ORDER BY menuregDate DESC) AS rn, m.*
	        FROM javabucks_menu m
	        WHERE 
	            menuCode LIKE 'B' || COALESCE(#{menu_cate}, '') || '%'
	            AND (
	                (SUBSTR(menuCode, 4, 1) = COALESCE(#{menu_base}, '') OR COALESCE(#{menu_base}, '') = '')
	                OR 
	                (menuCode LIKE 'B' || COALESCE(#{menu_base}, '') || COALESCE(#{menu_base}, '') || '%')
	            )
	            and menuName LIKE '%' || COALESCE(#{menuName}, '') || '%'
	            AND menuEnable = 'Y' 
	            and #{menuStatus} = 'N' OR (#{menuStatus} = 'Y' AND menuStatus = 'N')
	    ) drinks 
	    WHERE rn BETWEEN #{startRow} AND #{endRow}
	</select>
	<!-- 조건에 해당하는 음료 리스트 갯수 구하기 -->
	<select id="searchDrinkCount" parameterType="java.util.Map" resultType="Integer">
	    SELECT COUNT(*) FROM javabucks_menu
	    WHERE menuCode LIKE 'B' || COALESCE(#{menu_cate}, '') || '%'
	    AND (
	        (SUBSTR(menuCode, 4, 1) = COALESCE(#{menu_base}, '') OR COALESCE(#{menu_base}, '') = '')
	        OR 
	        (menuCode LIKE 'B' || COALESCE(#{menu_cate}, '') || COALESCE(#{menu_base}, '') || '%')
	    )
	    AND menuName LIKE '%' || COALESCE(#{menuName}, '') || '%'
	    AND menuEnable = 'Y' 
	    AND #{menuStatus} = 'N' OR (#{menuStatus} = 'Y' AND menuStatus = 'N')
	</select>
	
	<!-- 조건에 해당하는 디저트 리스트 검색 -->
	<select id="searchDessert" parameterType="java.util.Map" resultType="MenuDTO">
	    SELECT * 
	    FROM (
	        SELECT ROW_NUMBER() OVER (ORDER BY menuregDate DESC) AS rn, m.* 
	        FROM javabucks_menu m
	        WHERE menuCode LIKE 'C%' 
	            AND menuName LIKE '%' || COALESCE(#{menuName}, '') || '%' 
	            AND menuEnable = 'Y' 
	            AND (#{menuStatus} = 'N' OR (#{menuStatus} = 'Y' AND menuStatus = 'N'))
	    ) dessert
	    WHERE rn BETWEEN #{startRow} AND #{endRow}
	</select>
	<!-- 조건에 해당하는 디저트 리스트 갯수 구하기 -->
	<select id="searchDessertCount" parameterType="java.util.Map" resultType="Integer">
	    SELECT COUNT(*) 
	    FROM javabucks_menu
	    WHERE menuCode LIKE 'C%' 
	    AND menuName LIKE '%' || COALESCE(#{menuName}, '') || '%' 
	    AND menuEnable = 'Y' 
	    AND (#{menuStatus} = 'N' OR (#{menuStatus} = 'Y' AND menuStatus = 'N'))
	</select>
	
	<!-- 조건에 해당하는 MD 리스트 검색 -->
	<select id="searchMd" parameterType="java.util.Map" resultType="MenuDTO">
	    SELECT * 
	    FROM (
	        SELECT ROW_NUMBER() OVER (ORDER BY menuregDate DESC) AS rn, m.* 
	        FROM javabucks_menu m
	        WHERE menuCode LIKE 'M%' 
	            AND menuName LIKE '%' || COALESCE(#{menuName}, '') || '%' 
	            AND menuEnable = 'Y' 
	            AND (#{menuStatus} = 'N' OR (#{menuStatus} = 'Y' AND menuStatus = 'N'))
	    ) dessert
	    WHERE rn BETWEEN #{startRow} AND #{endRow}
	</select>
	<!-- 조건에 해당하는 MD 리스트 갯수 구하기 -->
	<select id="searchMdCount" parameterType="java.util.Map" resultType="Integer">
	    SELECT COUNT(*) 
	    FROM javabucks_menu
	    WHERE menuCode LIKE 'M%'
	    AND menuName LIKE '%' || COALESCE(#{menuName}, '') || '%' 
	    AND menuEnable = 'Y' 
	    AND (#{menuStatus} = 'N' OR (#{menuStatus} = 'Y' AND menuStatus = 'N'))
	</select>
	
	<!-- 메뉴정보 가져오기 -->
	<select id="getEditMenu" parameterType="String" resultType="MenuDTO">
		select * from javabucks_menu where menuCode = #{menuCode} 
	</select>
	
	<!-- 메뉴수정 -->
	<update id="editMenu" parameterType="MenuDTO">
	    UPDATE javabucks_menu
	    <set>
	    	menuName = #{menuName}, menuImages = #{menuImages}, menuDesc = #{menuDesc}, menuPrice = #{menuPrice}
	    </set>
	    WHERE menuCode = #{menuCode}
	</update>
	
	<!-- 주문 들어온 메뉴가 있는지 여부 확인 -->
	<select id="OrderCheck" parameterType="java.util.Map" resultType="OrderDTO">
	    select * from javabucks_order where orderList LIKE '%' || #{menuCode} || '%' and orderStatus in('주문완료', '제조중')
</select>

	
	<!-- 메뉴 삭제 (상태업데이트) -->
	<update id="delMenu" parameterType="String">
	    update javabucks_menu set menuEnable = 'N' where menuCode = #{menuCode}
	</update>
	
	<!-- 메뉴 막기/풀기 상태 업데이트 -->
	<update id="menuStatusUpdate" parameterType="MenuDTO">
		update javabucks_menu set menuStatus = #{menuStatus} where menuCode = #{menuCode}
	</update>
  </mapper>